{% extends 'base.html.twig' %}
{% block title parent() ~ ' - Gérer les biens' %}

{% block body %}
    <div class="container text-center">
        {% for label, messages in app.session.flashBag.all() %}
            {% for message in messages %}
                <div class="absoluteCenter">
                    <div class="alert alert-{{ label }} flash" role="alert">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="container mt-4">
        <h1>Gérer les biens</h1>
        
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
                <th>Image</th>
            </tr>
            </thead>
            <tbody>
            {% for property in properties %}
                <tr>
                    <td>{{ property.title }}</td>
                    <td>
                        <a href="{{ path('admin.property.edit', {id: property.id}) }}" class="btn btn-secondary">Éditer</a>
                        <form method="post"
                              action="{{ path('admin.property.delete', {id: property.id}) }}"
                              style="display: inline-block"
                              onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce bien ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                    <td>
                        {% if property.imageName %}
                            <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('smallest') }}"
                                 class="img-thumbnail" alt="{{ property.imageName }}" style="width: 72px; height: auto">
                        {% else %}
                            <img src="{{ asset('images/properties/emptyImage.jpg') | imagine_filter('smallest') }}"
                                 class="img-thumbnail" alt="pas d'image" style="width: 72px; height: auto">
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        <div class="text-right">
            <a href="{{ path('admin.property.new') }}" class="btn btn-primary">Ajouter un bien</a>
        </div>
    </div>

{% endblock %}