{% extends 'base.html.twig' %}
{% block title parent() ~ ' - ' ~ property.title %}

{% block body %}
    <div class="jumbotron">
        
        <div class="row">
            <div class="col-md-8">
                {% if property.imageName %}
                    <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('my_normal') }}"
                         class="mx-auto d-block" alt="{{ property.imageName }}" style="width: 800px; height: auto">
                {% else %}
                    <img src="{{ asset('images/properties/emptyImage.jpg') | imagine_filter('my_normal') }}"
                         class="mx-auto d-block" alt="pas d'image" style="width: 800px; height: auto">
                {% endif %}
            </div>
            <div class="col-md-4">
                <h1>{{ property.title }}</h1>
                <h2>{{ property.rooms }} pièces - {{ property.surface }}m²</h2>
                <div class="text-primary  font-weight-bold h1">{{ property.formattedPrice }}</div>
                <a href="" class="btn btn-primary">Contacter l'agence</a>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <p>{{ property.description | nl2br }}</p>
        <div class="row">
            <div class="col-md-8">
                <h2>Caractéristiques</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Surface habitable (m²)</td>
                        <td>{{ property.surface }}</td>
                    </tr>
                    <tr>
                        <td>Nbre de pièces</td>
                        <td>{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <td>Nbre de chambres</td>
                        <td>{{ property.bedrooms }}</td>
                    </tr>
                    <tr>
                        <td>Étage</td>
                        <td>{{ property.floor }}</td>
                    </tr>
                    <tr>
                        <td>Chauffage</td>
                        <td>{{ property.heatType|trans }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h2>Spécificités</h2>
                <table class="table table-striped">
                    <tr>
                        <td colspan="{{ property.options.count}}">Options : </td>
                    </tr>
                    <tr>
                        {% for option in property.options %}
                            <td>{{ option.name }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Surface</td>
                        <td>{{ property.surface }} m²</td>
                    </tr>
                    <tr>
                        <td>Ville</td>
                        <td>{{ property.city }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}



